*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.goof {
  background-color: black;
  font-size: 3em;
  text-align: center;
  color: white;
}

.everyOne-master {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.individual {
  border: solid 2px green;
  padding: 1em;
  text-align: center;
}

a.baby {
  color: white;
}

.image {
  width: 400px;
}